.triangle-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 50vh; /* Make the container full height of the viewport */
  }

  .triangle-segment {
    position: absolute;
    width: 1000;
    height: 200px;
    border-style: solid;
  }

  .triangle-bottom {
    border-width: 0 100px 173.21px 100px;
    border-color: transparent transparent #007bff transparent;
    background-color: #ff0000; /* Red color for bottom segment */
    bottom: 0;
    left: 0;
  }

  .triangle-second {
    border-width: 0 80px 138.56px 80px;
    border-color: transparent transparent #007bff transparent;
    background-color: #00ff00; /* Green color for second segment */
    bottom: 33px;
    left: 10px;
  }

  /* Define background colors for other segments similarly */

  /* Top segment */
  .triangle-top {
    border-width: 0 70px 69.28px 40px;
    border-color: transparent transparent #007bff transparent;
    background-color: #ffff00; /* Yellow color for top segment */
    bottom: 106px;
    left: 30px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .shape {
    animation: spin 50s linear infinite; /* Adjust duration and timing function as needed */
  }
