.container {
    display: flex;
    justify-content: center;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image {
    flex: 0 0 calc(14.28% - 10px); /* 7 columns with 10px margin */
    margin: 5px;
  }
