.triangle-container {
    position: relative;
  }

  .triangle-image {
    width: 100%;
    height: auto;
  }

  .segment {
    position: absolute;
  }

  .segment1 {
    /* Positioning and dimensions for segment 1 */
  }

  .segment2 {
    /* Positioning and dimensions for segment 2 */
  }

  /* Add styles for other segments as needed */
