@keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-medium {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-fast {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .slow-spin {
    animation: spin-slow 10s linear infinite; /* Adjust speed as needed */
  }

  .medium-spin {
    animation: spin-medium 8s linear infinite; /* Adjust speed as needed */
  }

  .fast-spin {
    animation: spin-fast 6s linear infinite; /* Adjust speed as needed */
  }
