.even-row {
    background-color: #f2f2f2; /* Alternate row color */
}

/* Every 6th row */
tr:nth-child(2n) {
    color: slategrey; /* Custom text color for every 6th row */
    font: 'bold';
}

/* Every 12th row */
tr:nth-child(12n) {
    color: blue; /* Custom text color for every 12th row */
}

.green-bg {
    background-color: green; /* Background color for every 6th row */
}

.blue-bg {
    background-color: blue; /* Background color for every 12th row */
}
